.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#card2 {
  border: 2px solid grey;
  box-shadow: 3px 10px 3px 3px lightgray;
}
#main {
  padding: 4rem;
}
#main2 {
  padding: 3rem;
  border: 2px solid white;
}
#footer {
  background-color: black;
  padding: 3rem;

  color: whitesmoke;
  font-weight: 600;
  border-radius: 4%;
  box-shadow: 3px 1px grey;
}

#form {
  padding: 2rem;
  background-color: whitesmoke;
  border: 2px solid grey;
  box-shadow: 5px 5px grey;
  border-radius: 4%;
}
#card3 {
  padding: 2rem;
}
#card4 {
  background-color: whitesmoke;
}
#card5 {
  background-color: whitesmoke;
}

#about {
  padding: 3rem;
}
#about2 {
  padding: 2rem;
}
